<!-- Uses Bootstrap Cards to display notes -->
<%- include('partials/_header') %>

    <h2 class="text-center p-3">All Notes: </h2>
    <div class="d-flex flex-sm-row flex-wrap ps-3">
        <% notes.forEach(note => { %>
            <div class="card m-1">
                <div class="card-header d-flex justify-content-between">
                    <h3 class="card-title"> <%= note.title %> </h3>
                    <p class="align-self-end"> <%= note.createdAt.toDateString() %> </p>
                </div>
                <div class="card-body <%= note.color %>">
                    <p class="card-text"> <%= note.note %> </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a class="btn btn-warning" href="editNote/<%= note.id %>">Edit</a>
                    <!-- need to use a form & method-override for delete request -->
                    <form method="POST" action="/getNotes/<%= note.id %>?_method=DELETE">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>

<%- include('partials/_footer'); %>